In [1105]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import LabelEncoder
%matplotlib inline

In [1050]:
data= pd.read_csv('imdb_top_1000.csv')

In [1051]:
data

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross,Genre_0,Genre_1,Genre_2
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469",Drama,NaN,NaN
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411",Crime,Drama,NaN
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444",Action,Crime,Drama
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000",Crime,Drama,NaN
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000",Crime,Drama,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN,Comedy,Drama,Romance
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN,Drama,Western,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000",Drama,Romance,War
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN,Drama,War,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN,Crime,Mystery,Thriller

In [1052]:
# Conteo de valores perdidos/faltantes  
data.isna().sum()

Poster_Link        0
Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
Genre_0            0
Genre_1          105
Genre_2          354
dtype: int64

In [1053]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   IMDB_Rating    1000 non-null   float64
 6   Overview       1000 non-null   object
 7   Meta_score     843 non-null    float64
 8   Director       1000 non-null   object
 9   Star1          1000 non-null   object
 10  Star2          1000 non-null   object
 11  Star3          1000 non-null   object
 12  Star4          1000 non-null   object
 13  No_of_Votes    1000 non-null   int64
 14  Gross          831 non-null    object
 15  Genre_0        1000 non-null   object
 16  Genre_1        895 non-null    object
 17  Genre_2        646 non-null    object
dtypes: float64(2), int64(1), object(15)
memory usage: 140.8+ KB

In [1054]:
data['Certificate'].isna()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998     True
999     True
Name: Certificate, Length: 1000, dtype: bool

In [1055]:
data['Certificate'].isna().sum()

101

In [1056]:
data.drop(data.dropna().index)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross,Genre_0,Genre_1,Genre_2
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469",Drama,NaN,NaN
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411",Crime,Drama,NaN
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000",Crime,Drama,NaN
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000",Crime,Drama,NaN
6,https://m.media-amazon.com/images/M/MV5BNGNhMD...,Pulp Fiction,1994,A,154 min,8.9,"The lives of two mob hitmen, a boxer, a gangst...",94.0,Quentin Tarantino,John Travolta,Uma Thurman,Samuel L. Jackson,Bruce Willis,1826188,"107,928,762",Crime,Drama,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,https://m.media-amazon.com/images/M/MV5BYTE4YW...,Blowup,1966,A,111 min,7.6,A fashion photographer unknowingly captures a ...,82.0,Michelangelo Antonioni,David Hemmings,Vanessa Redgrave,Sarah Miles,John Castle,56513,NaN,Drama,Mystery,Thriller
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN,Comedy,Drama,Romance
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN,Drama,Western,NaN
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN,Drama,War,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN,Crime,Mystery,Thriller

In [1057]:
data_filt=data.dropna().reset_index(drop=True)
data_filt

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross,Genre_0,Genre_1,Genre_2
0,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444",Action,Crime,Drama
1,https://m.media-amazon.com/images/M/MV5BNzA5ZD...,The Lord of the Rings: The Return of the King,2003,U,201 min,8.9,Gandalf and Aragorn lead the World of Men agai...,94.0,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1642758,"377,845,905",Action,Adventure,Drama
2,https://m.media-amazon.com/images/M/MV5BNDE4OT...,Schindler's List,1993,A,195 min,8.9,"In German-occupied Poland during World War II,...",94.0,Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall,1213505,"96,898,818",Biography,Drama,History
3,https://m.media-amazon.com/images/M/MV5BMjAxMz...,Inception,2010,UA,148 min,8.8,A thief who steals corporate secrets through t...,74.0,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,2067042,"292,576,195",Action,Adventure,Sci-Fi
4,https://m.media-amazon.com/images/M/MV5BN2EyZj...,The Lord of the Rings: The Fellowship of the Ring,2001,U,178 min,8.8,A meek Hobbit from the Shire and eight compani...,92.0,Peter Jackson,Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean,1661481,"315,544,750",Action,Adventure,Drama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
473,https://m.media-amazon.com/images/M/MV5BYjRmY2...,Giù la testa,1971,PG,157 min,7.6,A low-life bandit and an I.R.A. explosives exp...,77.0,Sergio Leone,Rod Steiger,James Coburn,Romolo Valli,Maria Monti,30144,"696,690",Drama,War,Western
474,https://m.media-amazon.com/images/M/MV5BMzAyND...,Kelly's Heroes,1970,GP,144 min,7.6,A group of U.S. soldiers sneaks across enemy l...,50.0,Brian G. Hutton,Clint Eastwood,Telly Savalas,Don Rickles,Carroll O'Connor,45338,"1,378,435",Adventure,Comedy,War
475,https://m.media-amazon.com/images/M/MV5BMjAwMT...,The Jungle Book,1967,U,78 min,7.6,Bagheera the Panther and Baloo the Bear have a...,65.0,Wolfgang Reitherman,Phil Harris,Sebastian Cabot,Louis Prima,Bruce Reitherman,166409,"141,843,612",Animation,Adventure,Family
476,https://m.media-amazon.com/images/M/MV5BZjQyMG...,A Hard Day's Night,1964,U,87 min,7.6,"Over two ""typical"" days in the life of The Bea...",96.0,Richard Lester,John Lennon,Paul McCartney,George Harrison,Ringo Starr,40351,"13,780,024",Comedy,Music,Musical
477,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000",Drama,Romance,War

In [1058]:
data_filt.isna().sum()
#aqui comprobamos que el nuevo dataset no tiene ningun valor nulo!!

Poster_Link      0
Series_Title     0
Released_Year    0
Certificate      0
Runtime          0
IMDB_Rating      0
Overview         0
Meta_score       0
Director         0
Star1            0
Star2            0
Star3            0
Star4            0
No_of_Votes      0
Gross            0
Genre_0          0
Genre_1          0
Genre_2          0
dtype: int64

In [1059]:
data_filt.describe()

       IMDB_Rating  Meta_score   No_of_Votes
count   478.000000  478.000000  4.780000e+02
mean      7.920084   76.673640  3.581522e+05
std       0.278763   12.439631  3.335141e+05
min       7.600000   30.000000  2.633700e+04
25%       7.700000   69.000000  1.099745e+05
50%       7.900000   77.000000  2.509800e+05
75%       8.100000   86.000000  5.046572e+05
max       9.000000  100.000000  2.303232e+06

In [1060]:
#consultamos el tipo de datos
data_filt.dtypes

Poster_Link       object
Series_Title      object
Released_Year     object
Certificate       object
Runtime           object
IMDB_Rating      float64
Overview          object
Meta_score       float64
Director          object
Star1             object
Star2             object
Star3             object
Star4             object
No_of_Votes        int64
Gross             object
Genre_0           object
Genre_1           object
Genre_2           object
dtype: object

In [1061]:
#eliminamos la columna de imagen ya que no nos va a resultar util
columnas_drop=["Poster_Link","Gross","Overview","Certificate","Star2","Star3","Star4","Meta_score"]

In [1062]:
data_filt_2= data_filt.drop(columns=columnas_drop)
data_filt_2

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Genre_0,Genre_1,Genre_2
0,The Dark Knight,2008,152 min,9.0,Christopher Nolan,Christian Bale,2303232,Action,Crime,Drama
1,The Lord of the Rings: The Return of the King,2003,201 min,8.9,Peter Jackson,Elijah Wood,1642758,Action,Adventure,Drama
2,Schindler's List,1993,195 min,8.9,Steven Spielberg,Liam Neeson,1213505,Biography,Drama,History
3,Inception,2010,148 min,8.8,Christopher Nolan,Leonardo DiCaprio,2067042,Action,Adventure,Sci-Fi
4,The Lord of the Rings: The Fellowship of the Ring,2001,178 min,8.8,Peter Jackson,Elijah Wood,1661481,Action,Adventure,Drama
...,...,...,...,...,...,...,...,...,...,...
473,Giù la testa,1971,157 min,7.6,Sergio Leone,Rod Steiger,30144,Drama,War,Western
474,Kelly's Heroes,1970,144 min,7.6,Brian G. Hutton,Clint Eastwood,45338,Adventure,Comedy,War
475,The Jungle Book,1967,78 min,7.6,Wolfgang Reitherman,Phil Harris,166409,Animation,Adventure,Family
476,A Hard Day's Night,1964,87 min,7.6,Richard Lester,John Lennon,40351,Comedy,Music,Musical
477,From Here to Eternity,1953,118 min,7.6,Fred Zinnemann,Burt Lancaster,43374,Drama,Romance,War

In [1063]:
data_filt_2.dtypes.value_counts()

object     8
float64    1
int64      1
dtype: int64

In [1064]:
data_filt_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478 entries, 0 to 477
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   478 non-null    object
 1   Released_Year  478 non-null    object
 2   Runtime        478 non-null    object
 3   IMDB_Rating    478 non-null    float64
 4   Director       478 non-null    object
 5   Star1          478 non-null    object
 6   No_of_Votes    478 non-null    int64
 7   Genre_0        478 non-null    object
 8   Genre_1        478 non-null    object
 9   Genre_2        478 non-null    object
dtypes: float64(1), int64(1), object(8)
memory usage: 37.5+ KB

In [1065]:
data_filt_2['Released_Year'] = pd.to_numeric(data_filt_2['Released_Year'], errors='coerce')
data_filt_2['No_of_Votes'] = pd.to_numeric(data_filt_2['No_of_Votes'], errors='coerce')

In [1066]:
data_filt_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478 entries, 0 to 477
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   478 non-null    object
 1   Released_Year  477 non-null    float64
 2   Runtime        478 non-null    object
 3   IMDB_Rating    478 non-null    float64
 4   Director       478 non-null    object
 5   Star1          478 non-null    object
 6   No_of_Votes    478 non-null    int64
 7   Genre_0        478 non-null    object
 8   Genre_1        478 non-null    object
 9   Genre_2        478 non-null    object
dtypes: float64(2), int64(1), object(7)
memory usage: 37.5+ KB

In [1067]:
data_filt_2['Runtime'] = data_filt_2['Runtime'].str.replace(' min', '')
data_filt_2['Runtime'] = pd.to_numeric(data_filt_2['Runtime'], errors='coerce')

In [1068]:
data_filt_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478 entries, 0 to 477
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   478 non-null    object
 1   Released_Year  477 non-null    float64
 2   Runtime        478 non-null    int64
 3   IMDB_Rating    478 non-null    float64
 4   Director       478 non-null    object
 5   Star1          478 non-null    object
 6   No_of_Votes    478 non-null    int64
 7   Genre_0        478 non-null    object
 8   Genre_1        478 non-null    object
 9   Genre_2        478 non-null    object
dtypes: float64(2), int64(2), object(6)
memory usage: 37.5+ KB

In [1069]:
data_filt_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478 entries, 0 to 477
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   478 non-null    object
 1   Released_Year  477 non-null    float64
 2   Runtime        478 non-null    int64
 3   IMDB_Rating    478 non-null    float64
 4   Director       478 non-null    object
 5   Star1          478 non-null    object
 6   No_of_Votes    478 non-null    int64
 7   Genre_0        478 non-null    object
 8   Genre_1        478 non-null    object
 9   Genre_2        478 non-null    object
dtypes: float64(2), int64(2), object(6)
memory usage: 37.5+ KB

In [1070]:
data_filt_2.dtypes

Series_Title      object
Released_Year    float64
Runtime            int64
IMDB_Rating      float64
Director          object
Star1             object
No_of_Votes        int64
Genre_0           object
Genre_1           object
Genre_2           object
dtype: object

In [1071]:

encoder = LabelEncoder()
encoded_data = encoder.fit_transform(data_filt_2['Series_Title'])
data_filt_2['Series_numerico'] = encoder.fit_transform(data_filt_2['Series_Title'])

In [1072]:
data_filt_2.dtypes

Series_Title        object
Released_Year      float64
Runtime              int64
IMDB_Rating        float64
Director            object
Star1               object
No_of_Votes          int64
Genre_0             object
Genre_1             object
Genre_2             object
Series_numerico      int64
dtype: object

In [1073]:
print(data_filt_2["Series_numerico"])

0      366
1      404
2      310
3      180
4      403
      ...
473    138
474    200
475    390
476      9
477    130
Name: Series_numerico, Length: 478, dtype: int64

In [1109]:
# Buscamos el valor numérico correspondiente al título "Pulp Fiction"
valor_numerico = data_filt_2.loc[data_filt_2['Series_Title'] == 'The dark knight', 'Series_numerico'].iloc[0]

# Mostramos el valor numérico
print(valor_numerico)

# Buscamos el título correspondiente al valor numérico 446
titulo = data_filt_2.loc[data_filt_2['Series_numerico'] == 200, 'Series_Title'].iloc[0]

# Mostramos el título
print(titulo)

IndexError: single positional indexer is out-of-bounds

In [1108]:
#asignamos valores numericos a Director
encoderD = LabelEncoder()
encoded_dataD = encoderD.fit_transform(data_filt_2['Director'])
data_filt_2['Director_numerico'] = encoderD.fit_transform(data_filt_2['Director'])

In [1078]:
data_filt_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478 entries, 0 to 477
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Series_Title       478 non-null    object
 1   Released_Year      477 non-null    float64
 2   Runtime            478 non-null    int64
 3   IMDB_Rating        478 non-null    float64
 4   Director           478 non-null    object
 5   Star1              478 non-null    object
 6   No_of_Votes        478 non-null    int64
 7   Genre_0            478 non-null    object
 8   Genre_1            478 non-null    object
 9   Genre_2            478 non-null    object
 10  Series_numerico    478 non-null    int64
 11  Director_numerico  478 non-null    int64
dtypes: float64(2), int64(4), object(6)
memory usage: 44.9+ KB

In [1079]:
# Definimos el nombre del director que queremos buscar
nombre_director = "Woody Allen"

# Obtenemos el valor numérico correspondiente al nombre del director
valor_numerico_director = data_filt_2.loc[data_filt_2['Director'] == nombre_director, 'Director_numerico'].iloc[0]

# Filtramos el DataFrame para obtener las películas dirigidas por el director
peliculas_director = data_filt_2.loc[data_filt_2['Director_numerico'] == valor_numerico_director]

# Mostramos las películas dirigidas por el director
print(peliculas_director)

                 Series_Title  Released_Year  Runtime  IMDB_Rating  \
227                 Manhattan         1979.0       96          7.9
330         Midnight in Paris         2011.0       96          7.7
389  The Purple Rose of Cairo         1985.0       82          7.7
434               Match Point         2005.0      124          7.6

        Director               Star1  No_of_Votes Genre_0   Genre_1  \
227  Woody Allen         Woody Allen       131436  Comedy     Drama
330  Woody Allen         Owen Wilson       388089  Comedy   Fantasy
389  Woody Allen          Mia Farrow        47102  Comedy   Fantasy
434  Woody Allen  Scarlett Johansson       206294   Drama   Romance

       Genre_2  Series_numerico  Director_numerico
227    Romance              240                295
330    Romance              245                295
389    Romance              416                295
434   Thriller              243                295

In [1080]:
#hacemos lo mismo con la estrella
encoderS= LabelEncoder()
encoded_dataS = encoderS.fit_transform(data_filt_2['Star1'])
data_filt_2['Star1_numerico'] = encoder.fit_transform(data_filt_2['Star1'])

In [1081]:
nombre_star="Brad Pitt"
valor_numerico_star = data_filt_2.loc[data_filt_2['Star1'] == nombre_star, 'Star1_numerico'].iloc[0]

# Filtramos el DataFrame para obtener las películas de brad Pitt
peliculas_star = data_filt_2.loc[data_filt_2['Star1_numerico'] == valor_numerico_star]

# Mostramos las películas protagonizadas por Brad Pitt
print(peliculas_star)

                            Series_Title  Released_Year  Runtime  IMDB_Rating  \
43                  Inglourious Basterds         2009.0      153          8.3
274  The Curious Case of Benjamin Button         2008.0      166          7.8
421                            Moneyball         2011.0      133          7.6

              Director      Star1  No_of_Votes    Genre_0   Genre_1   Genre_2  \
43   Quentin Tarantino  Brad Pitt      1267869  Adventure     Drama       War
274      David Fincher  Brad Pitt       589160      Drama   Fantasy   Romance
421     Bennett Miller  Brad Pitt       369529  Biography     Drama     Sport

     Series_numerico  Director_numerico  Star1_numerico
43               182                215              40
274              365                 58              40
421              252                 26              40

In [1082]:
data_filt_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478 entries, 0 to 477
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Series_Title       478 non-null    object
 1   Released_Year      477 non-null    float64
 2   Runtime            478 non-null    int64
 3   IMDB_Rating        478 non-null    float64
 4   Director           478 non-null    object
 5   Star1              478 non-null    object
 6   No_of_Votes        478 non-null    int64
 7   Genre_0            478 non-null    object
 8   Genre_1            478 non-null    object
 9   Genre_2            478 non-null    object
 10  Series_numerico    478 non-null    int64
 11  Director_numerico  478 non-null    int64
 12  Star1_numerico     478 non-null    int64
dtypes: float64(2), int64(5), object(6)
memory usage: 48.7+ KB

In [1083]:
encoderS = LabelEncoder()
encoded_dataS = encoderS.fit_transform(data_filt_2['Genre_0'])
data_filt_2['Genre_0_Numerico'] = encoder.fit_transform(data_filt_2['Genre_0']) + 1
print(data_filt_2['Genre_0_Numerico'])

0      1
1      1
2      4
3      1
4      1
      ..
473    7
474    2
475    3
476    5
477    7
Name: Genre_0_Numerico, Length: 478, dtype: int64

In [1084]:
print(data_filt_2["Genre0_numerico"])

KeyError: 'Genre0_numerico'

In [1085]:
data_filt_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478 entries, 0 to 477
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Series_Title       478 non-null    object
 1   Released_Year      477 non-null    float64
 2   Runtime            478 non-null    int64
 3   IMDB_Rating        478 non-null    float64
 4   Director           478 non-null    object
 5   Star1              478 non-null    object
 6   No_of_Votes        478 non-null    int64
 7   Genre_0            478 non-null    object
 8   Genre_1            478 non-null    object
 9   Genre_2            478 non-null    object
 10  Series_numerico    478 non-null    int64
 11  Director_numerico  478 non-null    int64
 12  Star1_numerico     478 non-null    int64
 13  Genre_0_Numerico   478 non-null    int64
dtypes: float64(2), int64(6), object(6)
memory usage: 52.4+ KB

In [1090]:
#Pasamos los géneros de las películas a valores numericos y los asignamos 
encoderS= LabelEncoder()
encoded_dataS = encoderS.fit_transform(data_filt_2['Genre_0'])
data_filt_2['Genre_0_Numerico'] = encoder.fit_transform(data_filt_2['Genre_0']) +1
print(data_filt_2['Genre_0_Numerico'])
etiquetas_generos = encoderS.classes_
print(etiquetas_generos)
fila = data_filt_2.loc[0]
print(fila)

encoderS= LabelEncoder()
encoded_dataS = encoderS.fit_transform(data_filt_2['Genre_1'])
data_filt_2['Genre_1_Numerico'] = encoder.fit_transform(data_filt_2['Genre_1']) +1
print(data_filt_2['Genre_1_Numerico'])
etiquetas_generos = encoderS.classes_
print(etiquetas_generos)



encoderS= LabelEncoder()
encoded_dataS = encoderS.fit_transform(data_filt_2['Genre_2'])
data_filt_2['Genre_2_Numerico'] = encoder.fit_transform(data_filt_2['Genre_2']) +1
print(data_filt_2['Genre_2_Numerico'])
etiquetas_generos = encoderS.classes_
print(etiquetas_generos)

0      1
1      1
2      4
3      1
4      1
      ..
473    7
474    2
475    3
476    5
477    7
Name: Genre_0_Numerico, Length: 478, dtype: int64
['Action' 'Adventure' 'Animation' 'Biography' 'Comedy' 'Crime' 'Drama'
 'Family' 'Film-Noir' 'Horror' 'Mystery']
Series_Title           The Dark Knight
Released_Year                   2008.0
Runtime                            152
IMDB_Rating                        9.0
Director             Christopher Nolan
Star1                   Christian Bale
No_of_Votes                    2303232
Genre_0                         Action
Genre_1                          Crime
Genre_2                          Drama
Series_numerico                    366
Director_numerico                   48
Star1_numerico                      70
Genre_0_Numerico                     1
Genre_1_Numerico                     5
Genre_2_Numerico                     4
Name: 0, dtype: object
0       5
1       2
2       6
3       2
4       2
       ..
473    18
474     4
475     2
476    12
477    15
Name: Genre_1_Numerico, Length: 478, dtype: int64
[' Action' ' Adventure' ' Biography' ' Comedy' ' Crime' ' Drama' ' Family'
 ' Fantasy' ' Film-Noir' ' History' ' Horror' ' Music' ' Musical'
 ' Mystery' ' Romance' ' Sci-Fi' ' Thriller' ' War']
0       4
1       4
2       8
3      14
4       4
       ..
473    18
474    17
475     5
476    11
477    17
Name: Genre_2_Numerico, Length: 478, dtype: int64
[' Adventure' ' Comedy' ' Crime' ' Drama' ' Family' ' Fantasy'
 ' Film-Noir' ' History' ' Horror' ' Music' ' Musical' ' Mystery'
 ' Romance' ' Sci-Fi' ' Sport' ' Thriller' ' War' ' Western']

In [1091]:
data_filt_2.info

<bound method DataFrame.info of                                           Series_Title  Released_Year  \
0                                      The Dark Knight         2008.0
1        The Lord of the Rings: The Return of the King         2003.0
2                                     Schindler's List         1993.0
3                                            Inception         2010.0
4    The Lord of the Rings: The Fellowship of the Ring         2001.0
..                                                 ...            ...
473                                       Giù la testa         1971.0
474                                     Kelly's Heroes         1970.0
475                                    The Jungle Book         1967.0
476                                 A Hard Day's Night         1964.0
477                              From Here to Eternity         1953.0

     Runtime  IMDB_Rating             Director              Star1  \
0        152          9.0    Christopher Nolan     Christian Bale
1        201          8.9        Peter Jackson        Elijah Wood
2        195          8.9     Steven Spielberg        Liam Neeson
3        148          8.8    Christopher Nolan  Leonardo DiCaprio
4        178          8.8        Peter Jackson        Elijah Wood
..       ...          ...                  ...                ...
473      157          7.6         Sergio Leone        Rod Steiger
474      144          7.6      Brian G. Hutton     Clint Eastwood
475       78          7.6  Wolfgang Reitherman        Phil Harris
476       87          7.6       Richard Lester        John Lennon
477      118          7.6       Fred Zinnemann     Burt Lancaster

     No_of_Votes    Genre_0     Genre_1   Genre_2  Series_numerico  \
0        2303232     Action       Crime     Drama              366
1        1642758     Action   Adventure     Drama              404
2        1213505  Biography       Drama   History              310
3        2067042     Action   Adventure    Sci-Fi              180
4        1661481     Action   Adventure     Drama              403
..           ...        ...         ...       ...              ...
473        30144      Drama         War   Western              138
474        45338  Adventure      Comedy       War              200
475       166409  Animation   Adventure    Family              390
476        40351     Comedy       Music   Musical                9
477        43374      Drama     Romance       War              130

     Director_numerico  Star1_numerico  Genre_0_Numerico  Genre_1_Numerico  \
0                   48              70                 1                 5
1                  212             101                 1                 2
2                  260             210                 4                 6
3                   48             209                 1                 2
4                  212             101                 1                 2
..                 ...             ...               ...               ...
473                249             268                 7                18
474                 36              74                 2                 4
475                294             255                 3                 2
476                222             178                 5                12
477                 85              50                 7                15

     Genre_2_Numerico
0                   4
1                   4
2                   8
3                  14
4                   4
..                ...
473                18
474                17
475                 5
476                11
477                17

[478 rows x 16 columns]>

In [1092]:
data_filt_2.dtypes

Series_Title          object
Released_Year        float64
Runtime                int64
IMDB_Rating          float64
Director              object
Star1                 object
No_of_Votes            int64
Genre_0               object
Genre_1               object
Genre_2               object
Series_numerico        int64
Director_numerico      int64
Star1_numerico         int64
Genre_0_Numerico       int64
Genre_1_Numerico       int64
Genre_2_Numerico       int64
dtype: object

In [1093]:
data_filt_3 = data_filt_2.copy()

In [1094]:
data_filt_3.dtypes

Series_Title          object
Released_Year        float64
Runtime                int64
IMDB_Rating          float64
Director              object
Star1                 object
No_of_Votes            int64
Genre_0               object
Genre_1               object
Genre_2               object
Series_numerico        int64
Director_numerico      int64
Star1_numerico         int64
Genre_0_Numerico       int64
Genre_1_Numerico       int64
Genre_2_Numerico       int64
dtype: object

In [1095]:
columnas_drop= ["Series_Title","Star1", "Series_numerico", "Genre_1", "Genre_2","Director","Genre_0"]

data_filt_3 = data_filt_3.drop(columns=columnas_drop)

In [1096]:
data_filt_3.dtypes

Released_Year        float64
Runtime                int64
IMDB_Rating          float64
No_of_Votes            int64
Director_numerico      int64
Star1_numerico         int64
Genre_0_Numerico       int64
Genre_1_Numerico       int64
Genre_2_Numerico       int64
dtype: object

In [1097]:
# Generar la lista de features y la variable target
target = 'IMDB_Rating'
features = [x for x in data_filt_3.columns if x!=target]

print(target)
print(features)

IMDB_Rating
['Released_Year', 'Runtime', 'No_of_Votes', 'Director_numerico', 'Star1_numerico', 'Genre_0_Numerico', 'Genre_1_Numerico', 'Genre_2_Numerico']

In [1098]:
data_filt_3[target]

0      9.0
1      8.9
2      8.9
3      8.8
4      8.8
      ...
473    7.6
474    7.6
475    7.6
476    7.6
477    7.6
Name: IMDB_Rating, Length: 478, dtype: float64

In [1099]:
#Teniamos un dato NAN que hemos eliminado
data_filt_3 = data_filt_3.dropna()

In [1100]:
data_filt_3.isna().sum()

Released_Year        0
Runtime              0
IMDB_Rating          0
No_of_Votes          0
Director_numerico    0
Star1_numerico       0
Genre_0_Numerico     0
Genre_1_Numerico     0
Genre_2_Numerico     0
dtype: int64

In [1101]:
# Importar el algoritmo de árboles de decisión
from sklearn.tree import DecisionTreeRegressor

# Asignar el algortimo e indicar la profundidad máxima del árbol (con un número rotandamente grande para sobreajustar)
arbol_importancia = DecisionTreeRegressor(max_depth=len(features)+10, random_state=100)

# Entrenar un árbol con todo el conjunto de datos
arbol_importancia.fit(X=data_filt_3[features], y=data_filt_3[target])

DecisionTreeRegressor(max_depth=18, random_state=100)

In [1102]:
y_pred_arbol = arbol_importancia.predict(X=data_filt_3[features])

from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

# Métricas para evaluar la calidad del modelo
print('Mean Absolute Error:', mean_absolute_error(data_filt_3[target], y_pred_arbol))
print('Mean Absolute Percentage Error:', mean_absolute_percentage_error(data_filt_3[target], y_pred_arbol)*100)
print('Mean Squared Error:', mean_squared_error(data_filt_3[target], y_pred_arbol))
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(data_filt_3[target], y_pred_arbol)))
print('R^2 coefficient of determination:', r2_score(data_filt_3[target], y_pred_arbol))

Mean Absolute Error: 4.282621310923036e-17
Mean Absolute Percentage Error: 5.579204978094706e-16
Mean Squared Error: 3.8037318281097006e-32
Root Mean Squared Error: 1.950315827785259e-16
R^2 coefficient of determination: 1.0

In [1103]:
#Te da los porcentajes de importancia, siemrpe va a sumar 1

arbol_importancia.feature_importances_

array([0.18682624, 0.08308121, 0.50798756, 0.0659187 , 0.07573697,
       0.02555413, 0.02708446, 0.02781072])

In [1104]:
# Creamos un DataFrame con los datos de importancia
importancia = pd.DataFrame(arbol_importancia.feature_importances_, index=features, columns=["Importancia"])

# Ordenamos los datos
importancia.sort_values(by=importancia.columns[0], ascending=False, inplace=True)
importancia

                   Importancia
No_of_Votes           0.507988
Released_Year         0.186826
Runtime               0.083081
Star1_numerico        0.075737
Director_numerico     0.065919
Genre_2_Numerico      0.027811
Genre_1_Numerico      0.027084
Genre_0_Numerico      0.025554